.navFull {
    background-color: rgb(247, 247, 247);
    margin-bottom: 20px;

}

.Heading h3 {
    color: rgb(12, 0, 122);
    font-weight: 800;
}

.navbars li {
    padding: 10px;
}

.navbar a {
    text-decoration: none;
    color: rgb(10, 0, 155);

}

.navbars {
    display: flex;
    justify-content: space-between
}

@media screen and (max-width:480px) {
    .navbars {
        display: block;
    }
}


.active {
    background-color: rgb(204, 203, 216);
    border-radius: 10px;
    padding: 10px;
}

.items {
    display: flex;
    padding-left: 20px;
}

@media screen and (max-width:480px) {
    .items {
        display: block;
    }
}