.blogs h1 {
    background-color: aqua;
    padding: 10px;
    border: 2px solid blue;
    border-radius: 10px;

}

.blogs {
    background-color: rgb(204, 203, 216);
    padding: 40px;
}

.blogs h4 {
    background-color: rgb(233, 126, 195);
    color: white;
    padding: 10px;
    border: 2px solid blue;
    border-radius: 10px;
}